* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.top-padre {
  border: solid 2px red;
  background-color: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-hijo {
  padding: 4px 65px;
}

.nav {
  color: aliceblue;
  padding: 4px;
}
.ofertas {
  padding: 4px 65px;
}
.header-padre {
  display: flex;
  border: solid 2px red;
  background: #f0a83e;
  width: 100%;
  height: 65px;
  align-items: center;
}
.header-hijo {
  height: 30px;
  width: 60%;
  display: flex;
  padding: 0px 30px;
}
.contacto-hijo {
  width: 35%;
  display: flex;
  justify-content: space-around;
}

.baner-padre {
  width: 1800;
  height: 900px;
  border: solid 2px rgb(20, 8, 199);
  margin: 3px;
  background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.baner-hijo {
  border: solid 1px rgb(51, 153, 76);
  width: 600px;
  height: 150px;
  padding: 0px 90px;
  background-repeat: no-repeat;
  background-size: 500px;
  background-image: url(../img/Es\ un\ placer\ tenerte\ aquí.png);
  position: relative;
  right: 70px;
  top: 50px;
  border-radius: 5px;
}
.baner-hijo-2 {
  border: solid 1px royalblue;
  width: 200px;
  height: 75px;
  background-image: url(../img/btn\ comederos.png);
  background-repeat: no-repeat;
  background-size: 200px;
  border-radius: 10%;
  position: relative;
  right: 300px;
  top: 50px;
}
.cuerpo-padre {
  height: 400px;
  border: solid 5px chartreuse;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.cuerpo-hijo {
  height: 200px;
  width: 200px;
  background-image: url(../img/pawprint\ 1.png);
  background-repeat: no-repeat;
  background-size: 200px;
}
.cuerpo-hijo2 {
  border: solid 2px seagreen;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #3c2313;
  font-style: oblique;
}
.cuerpo-hijo3 {
  font-size: 40px;
  font-weight: 0px;
}
.article-padre {
  height: 400px;
  display: flex;
  justify-content: space-around;
  border: solid 5px rgb(202, 19, 59);
}

.articulo {
  background-color: #fbfaf6;
  text-align: center;
  font-size: 20px;
}
.precio {
  background-color: #fbfaf6;
  font-size: 20px;
  text-align: center;
}
.section-padre {
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  color: #3c2313;
  font-size: 40px;
  font-weight: 100;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-top: 50px;
  padding-bottom: 40px;
  position: relative;
  left: 20px;
}
.datos-padre {
  width: 520px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.hijo {
  background-color: #3c2313;
  width: 500px;
  height: 50px;
  padding: 10px 3px 3px;
  color: white;
  border-radius: 15px;
  margin: 5px;
}
.boton1 {
  width: 150px;
  height: 50px;
  color: white;
  background-color: #8a8787;
  font-size: 20px;
  margin-right: 5px;
  border-radius: 15px;
}
.boton2 {
  width: 150px;
  height: 50px;
  color: white;
  background-color: #f0a83e;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 50px;
  border-radius: 15px;
}

.piePadre {
  background-image: url(../img/Vector.png);
  background-repeat: no-repeat;
  background-position: left center;

  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0a83e;
  color: white;
  margin-top: 100px;
  font-size: 30px;
}
.pieHijo {
  position: relative;
  right: 170px;
}

.pieHijo1 {
  height: 40px;
  width: 271px;
  background-color: #ffffff;
  font-size: 9px;
  text-align: left;
  border-radius: 15px;
  position: relative;
  left: 660px;
}
.pieHijo2 {
  background-color: #3c2313;
  height: 40px;
  width: 80px;
  font-size: 9px;
  border-radius: 15px;
  color: white;
  position: relative;
  left: 200px;
}
.logosPadre {
  background-color: #3c2313;
  color: white;
  padding-top: 50px;
}
.logoHijo{
  font-size: 30px;position: relative;
  left: 80px;
  bottom: 60px;
  padding-top: 40x;
}
.logoHijo1{
  position: relative;
  left: 100px;
  bottom: 60px;
  font-size: 9px;
}
