* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Traje", sans-serif;
  background-image: url(../images/peakpx\ \(3\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-image: url(../images/peakpx\ \(3\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.contenedor-card {
  width: 900px;
  height: 500px;
  background-color: rgb(202, 211, 229);
}
@media 
  (max-width:700px){
  .contenedor-card {
    display: flex;
    flex-direction: column;
    height: 1200px;
  }
}
